{% extends "base.html" %}

{% load i18n %}
{% load static %}



{% block content %}
    <section class="tf__breadcrumb banner" style="background: url({% static "images/bg/breadcrumb.jpg" %})">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tf__breadcrum_text">
                        <h1>{{ blog_content.text }}</h1>
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="/" class="text_hover_animaiton">
                                    <div style="position:relative;display:inline-block;" class="menu-text">
                                        {% trans "Ana Sayfa" %}
                                    </div>
                                </a>
                            </li>
                            <li><a href="#">{{ blog_content.text }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tf__blog_details pt_120 xs_pt_80 pb_120 xs_pb_80">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8">
                    <div class="tf__blog_details_area">
                        <div class="tf__blog_details_img">
                            <img src="{{ blog_content.image.url }}" alt="Blog" class="img-fluid w-100">
                        </div>
                        <ul class="blog_details_header">
                            <li>{{ blog_content.user.username }}
                            <li><span>Standart</span>
                            </li>
                        </ul>
                        <div class="tf__blog_details_text">
                            <h2 class="has-animation" style="">
                                {{ blog.content.text }}
                            </h2>
                            {{ blog_content.content|safe }}

                        </div>
                        <div class="details_blog_share">
                            <h4>{% trans "Yazar" %} {{ blog_content.user.username }}</h4>
                        </div>
                        <ul class="next_prev_button">
                            <li class="previous_post">
                                {% if last_blog %}
                                    <a href="{% url "blog:blog-detail" last_blog.slug %}"
                                       data-cursor="{% trans "Önceki" %}">
                                        <p>{% trans "Önceki Blog" %}</p>
                                        <h5>{{ last_blog.text }}</h5>
                                    </a>
                                {% endif %}
                            </li>
                            <li class="next_post">
                                {% if next_blog %}
                                    <a href="{% url "blog:blog-detail" next_blog.slug %}"
                                       data-cursor="{% trans "Sonraki" %}">
                                        <p>{% trans "Sonraki Blog" %}</p>
                                        <h5>{{ next_blog.text }}</h5>
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                        <div class="tf__input_comment mt_90">
                            <h2 class="has-animation" style="">
                                <div class="anim_line" style="display: block; text-align: start; position: relative;">
                                    {% trans "Yorum Yap" %}
                                </div>
                            </h2>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-xl-6">
                                        <input type="text" placeholder="{% trans "Ad Soyad" %}" name="name" required>
                                    </div>
                                    <div class="col-xl-6">
                                        <input type="text" placeholder="{% trans "E Posta" %}" name="email" required>
                                    </div>
                                    <div class="col-xl-12">
                                        <textarea rows="6" placeholder="{% trans "Mesajını Buraya Yaz" %} "
                                                  name="message" required></textarea>
                                        <button class="common_btn" type="submit">
                                            {% trans "Gönder" %}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {% if comment_list %}
                            {% for comment in comment_list %}
                                <div class="tf__details_bloger">
                                    <h3>{{ comment.name }}</h3>
                                    <span>{{ comment.date }}</span>
                                    <p>{{ comment.comment }}</p>
                                    <div class="img">
                                        <img src="{{ site_settings.default_profile_image.url }}" alt="blog yazarı" class="img-fluid w-100">
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="tf__details_bloger">
                                <p>{% trans "Henüz Yorum Yapılmaıştır" %} </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="tf__sidebar">
                        <div class="tf__sidebar_item tf__sidebar_category mt_30">
                            <h3>{% trans "Kategoriler" %}</h3>
                            <ul>
                                {% for category in category_list %}
                                    <li>
                                        <a href="#">{{ category.text }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="tf__sidebar_item tf__sidebar_tags mt_30">
                            <h3>{% trans "Etiketler" %}</h3>
                            <ul>
                                {% for tag in blog_content.tags.all %}
                                    <li>
                                        <a href="#">{{ tag.text }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}